.filter-input {
    padding: 1em;
    width: 90%;
}

@media (min-width: 500px) {
    .list {
        margin: 2em 5em 0 5em;
    }

    .filter-input {
        margin: 0;
    }

}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
}

td, th {
    width: 25%;
}